.loader-wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color: #000000;
    overflow: hidden;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    overflow-y: hidden;
    position: relative;
    border: 4px solid #be5df7;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }
    25% {
        height: 0%;
    }
    50% {
        height: 100%;
    }
    75% {
        height: 100%;
    }
    100% {
        height: 0%;
    }
}

#hideDiv {
    display: flex;
}

.grow {
    transition: all 0.2s ease-in-out;
}

.grow:hover {
    transform: scale(1.05);
}

@font-face {
    font-family: regular;
    src: url(../font/SF-Pro-Text-Medium.otf) format("opentype");
}

.active {
    background-color: #3f2e49;
}


/* up arrow animation */

@-webkit-keyframes uparrow {
    0% {
        -webkit-transform: translateY(0);
        opacity: 0.4
    }
    100% {
        -webkit-transform: translateY(-0.4em);
        opacity: 0.9
    }
}

.up {
    -webkit-animation: uparrow 0.6s infinite alternate ease-in-out;
    border-bottom: 0.2em solid #be5df7;
}

html {
    scroll-behavior: smooth;
}


/* scrollbar start  */

 ::-webkit-scrollbar {
    width: 5px;
    border-radius: 50%;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: black;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #be5df7;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #9208e2;
}


/* scrollbar end  */

body {
    font-family: regular, 'Open Sans', sans-serif;
    color: #fff;
    position: relative;
    background-image: url("./backg1.jpg");
    background: transparent;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: hidden;
}

body::before {
    content: "";
    position: fixed;
    background-color: rgb(7, 7, 7);
    background-image: url("./backg1.jpg");
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    left: 0;
}

#bparticles-js {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    left: 0;
}

#credit {
    color: white;
    cursor: pointer;
}

.awscloud {
    font-size: 15px;
    background-color: rgb(200, 145, 252);
    margin-top: 5%;
}

@media (min-width: 1024px) {
    body::before {
        background-attachment: fixed;
    }
}

a {
    color: #fff
}

a:hover {
    color: #55286F;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: regular, "Raleway", sans-serif;
}

.button4 {
    background-color: #bc96e6;
    color: #ffffff;
}

.cat {
    padding: 8vh 0;
}


/* HEADER SECTION */

#header {
    transition: 0.3s ease-in-out;
    position: relative;
    align-items: center;
    height: 100vh;
    z-index: 20;
    overflow-y: auto;
}

#header * {
    transition: ease-in-out 0.3s;
}

#header h1 {
    font-size: 60px;
    font-family: regular, "Poppins", sans-serif;
    line-height: 1.2;
    margin: 0;
    padding: 0 30px;
    font-weight: 600;
    text-align: center;
}

#header h1 a,
#header h1 a:hover {
    color: #fff;
    line-height: 1;
    display: inline-block;
    padding: 10px;
}

#header h2 {
    font-size: 40px;
    font-family: regular, 'Roboto', sans-serif;
    margin-top: 50px;
    padding: 10px 30px;
    color: #fff;
    text-align: center;
}

.header-top #greetings {
    font-size: 200%;
    color: #bc96e6;
}

#header .typeh2 {
    font-size: 30px;
    font-family: regular, 'Roboto', sans-serif;
    margin-top: 20px;
    padding: 10px 30px;
    color: #fff;
}

#header h2 span {
    color: #bc96e6;
    border-bottom: 2px solid #55286F;
    padding-bottom: 6px;
    line-height: 55px;
}

#header .social {
    display: inline-block;
    margin-top: 225px;
    padding: 0 30px;
    align-items: center;
}

#header .social a {
    font-size: 28px;
    display: inline;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-right: 8px;
    border-radius: 50%;
    width: 45px;
    height: 50px;
    transition: color all 0.8s ease-in-out;
    text-decoration: none;
}

#header .social a:hover {
    color: #bc96e6;
    transition: transform 0.8s ease-in-out;
    transform: scale(1.2);
}

#tc {
    color: #bc96e6;
}

@media all and (min-width: 768px) {
    .navbar-fixed-width {
        width: 768px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media all and (min-width: 992px) {
    .navbar-fixed-width {
        width: 992px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media all and (min-width: 1200px) {
    .navbar-fixed-width {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width:992px) {
    html,
    body {
        overflow-x: hidden;
    }
    .nav-menu {
        background-color: #000000;
        opacity: 0.95;
    }
    .nav {
        opacity: 0.95;
        background: #000000;
    }
    .nav-menu a {
        opacity: 0.95;
    }
    li.nav-item a.nav-link::after {
        background: transparent;
    }
    #header h2 {
        padding: -20px;
        margin-top: 100px;
        line-height: auto;
        font-size: 30px;
    }
    #header h1 {
        font-size: 10px;
        font-weight: 400;
        padding: -20px;
    }
    #header .social {
        margin-top: 50px;
    }
    div .social {
        position: fixed;
        display: block;
        bottom: 10px;
        text-align: center;
        margin-left: 10px;
    }
}

#header .header-top {
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

#header.header-top .container {
    display: flex;
    align-items: center;
}

#header.header-top .nav-menu {
    margin: 0;
}

#header.header-top h1 {
    margin-right: auto;
    font-size: 60px;
    margin-top: 10px;
}

.navbar {
    padding: 30px;
}

nav a,
nav a:hover {
    color: #fff;
}

li.nav-item a.nav-link {
    position: relative;
    display: inline-block;
}

li.nav-item a.nav-link::after {
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: #bc96e6;
    content: '';
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

li.nav-item.active a.nav-link::after {
    width: 100%;
}

li.nav-item a.nav-link:hover::after {
    width: 100%;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
}

li.nav-item {
    margin: 10px 10px;
}

li.nav-item:last-child {
    margin-right: 0;
}

.navbar-toggler-icon {
    background-color: #bc96e6;
    background: #bc96e6;
    color: #bc96e6;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-menu {
    padding: 0;
    background-color: #000000;
    opacity: 1;
    height: 50px;
}

.nav-menu ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0px;
    list-style: none;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}


/* SECTIONS */

section {
    /* overflow: hidden; */
    /* position: absolute; */
    width: 100%;
    top: 140px;
    bottom: 100%;
    opacity: 0.9;
    transition: ease-in-out 0.4s;
    z-index: 2;
}

section.section-show {
    top: 100px;
    bottom: auto;
    opacity: 1;
    padding-bottom: 45px;
}

section .container {
    background: rgba(0, 0, 0, 0.95);
    padding: 20px;
}

@media (max-width: 768px) {
    section {
        top: 120px;
    }
    section.section-show {
        top: 80px;
    }
}

.section-title h2 {
    margin: 0;
    margin: 35px 0 5px 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: regular, "Poppins", sans-serif;
    color: #fff;
    text-align: center;
}

.section-title h2::after {
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    background: #bc96e6;
    margin: 10px auto;
    margin-bottom: 30px;
}

.section-title h2::before {
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    background: #bc96e6;
    margin: 10px auto;
}

.section-title p {
    font-size: 15px;
    padding: 0;
    line-height: normal;
    margin: 0;
    letter-spacing: 1px;
    text-transform: none;
    color: rgba(255, 255, 255, 0.7);
    font-family: regular, "Roboto", sans-serif;
    align-items: center;
    justify-content: center;
}

.header_social {
    position: absolute;
    bottom: 20px;
    left: 10px
}


/*About Section*/

.about-me .container {
    align-items: center;
    justify-content: center;
}

.about-me .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #bc96e6;
    padding-bottom: 0;
}

.about-me h3::after {
    content: "";
    width: 100px;
    height: 1px;
    display: inline-block;
    margin: 0px auto;
}

@media (max-width: 768px) {
    #pic {
        margin-top: 60px;
        max-height: 320px;
    }
}

#pic {
    border-radius: 50%;
    max-height: 300px;
    opacity: none;
}

img #pic {
    opacity: 1;
}

.about-me .content p {
    padding-bottom: 0;
}

.about-me .content ul {
    padding: 0 20px;
}

.about-me .content ul li {
    padding-bottom: 1px;
}

.about-me .content ul li {
    font-size: 20px;
    padding-right: 2px;
    color: #FFFFFF;
}

.about-me .content p:last-child {
    margin-bottom: 0;
}

a.button4 {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgba(255, 255, 255, 0);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: regular, 'Roboto', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    text-shadow: 0 0.08em 0.08em rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.2s;
}

a.button4:hover {
    border-color: rgba(255, 255, 255, 1);
    transform: scale(1.2);
    color: #fff;
}

@media all and (max-width:30em) {
    a.button4 {
        display: block;
        margin: 0.2em auto;
    }
}

.education .education-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
}

.education .education-title:after {
    content: "";
    width: 150px;
    height: 2px;
    display: inline-block;
    margin: -4px auto;
}

.education .education-item {
    padding: 10px 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid rgba(255, 255, 255, 0.2);
    position: relative;
}

.education .education-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: regular, "Roboto", sans-serif;
    color: #bc96e6;
    margin-bottom: 10px;
}

.education .education-item h5 {
    font-size: 16px;
    background: rgba(255, 255, 255, 0.387);
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}

.education .education-item p {
    font-family: regular, "Roboto", sans-serif;
}

.education .education-item ul {
    padding-left: 20px;
}

.education .education-item ul li {
    padding-bottom: 10px;
}

.education .education-item:last-child {
    padding-bottom: 0;
}

.education .education-item::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 50px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #bc96e6;
    border: 2px solid #bc96e6;
}

.skills .progress {
    height: 50px;
    display: block;
    background: none;
}

.skills .progress .skill {
    padding-bottom: 5px;
    margin: 0 0 2px 0;
    text-transform: uppercase;
    /* display: block; */
    font-weight: 500;
    font-size: medium;
    font-family: "Poppins", sans-serif;
    color: #fff;
}

.skills .progress .skill .val {
    float: right;
    font-style: normal;
}

.skills .progress-bar-wrap {
    background: rgba(255, 255, 255, 0.15);
}

.skills .progress-bar {
    margin-bottom: 20px;
    width: 2px;
    height: 20px;
    color: black;
    transition: .9s;
    background-color: #bc96e6;
}

.counts {
    padding: 70px 0 60px;
}

.counts .count-box {
    padding: 30px 30px 25px 30px;
    width: 100%;
    position: relative;
    border: 1px solid #bc96e6;
    border-radius: 10%;
    text-align: center;
    background: rgba(255, 255, 255, 0.08);
    transition: transform .3s;
    cursor: pointer;
}

.counts .count-box i {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px;
    color: #bc96e6;
    border: 0.5px solid #bc96e6;
    border-radius: 50px;
}

.counts .count-box span {
    font-size: 36px;
    display: block;
    font-weight: 600;
    color: #fff;
}

.counts .count-box p {
    padding: 0;
    margin: 0;
    font-family: regular, "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 300;
}

.counts .count-box:hover {
    transform: scale(1.1);
}


/* Experience */

.experience .experience-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
}

.experience .experience-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid rgba(255, 255, 255, 0.523);
    position: relative;
}

.experience .experience-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: regular, "Poppins", sans-serif;
    color: #bc96e6;
    margin-bottom: 10px;
}

.experience .experience-item h5 {
    font-size: 16px;
    background: rgba(255, 255, 255, 0.523);
    padding: 5px 15px;
    display: inline-block;
    text-shadow: black;
    font-weight: 600;
    border-radius: 20px;
    transition: .5s ease-in-out;
    margin-bottom: 10px;
    cursor: pointer;
}

.experience .experience-item h5:hover {
    transform: scale(1.1);
}

.experience .experience-item:last-child {
    padding-bottom: 0;
}

.experience .experience-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    left: -9px;
    top: 0;
    background: #bc96e6;
    border: 2px solid #bc96e6;
}

.experience .experience-item i {
    font-size: 20px;
    padding-right: 1.5px;
    color: #bc96e6;
}


/* Projects- Portfolio */

.projects .portfolio-item {
    margin-bottom: 30px;
    cursor: pointer;
    padding: 0;
}

.projects .portfolio-item img {
    width: 350px;
    height: 350px;
}

.projects #portfolio-filters {
    padding: 0;
    margin: 0 auto 15px auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
    padding: 2px 15px;
}

.projects #portfolio-filters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 16px 10px 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    margin: 0 3px 10px 3px;
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
}

.projects #portfolio-filters li:hover,
.projects #portfolio-filters li.filter-active {
    background: #bc96e6;
    transform: scale(1.1);
}

.projects #portfolio-filters li:last-child {
    margin-right: 0;
}

.projects .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: rgba(0, 0, 0, 0.8);
}

.projects .portfolio-wrap::before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
}

.projects .portfolio-wrap .portfolio-info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects .portfolio-wrap .portfolio-info::before {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    top: 35px;
    left: 35px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    transition: all 0.5s ease 0s;
    z-index: 9994;
}

.projects .portfolio-wrap .portfolio-info::after {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 35px;
    right: 35px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    transition: all 0.5s ease 0s;
    z-index: 9994;
}

.projects .portfolio-wrap .portfolio-info h4 {
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    padding: 20px;
}

.projects .portfolio-wrap .portfolio-info p {
    color: #ffffff;
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0;
}

.projects .portfolio-wrap .portfolio-links {
    text-align: center;
    z-index: 4;
}

.projects .portfolio-wrap .portfolio-links a {
    color: #fff;
    margin: 0 2px;
    font-size: 28px;
    display: inline-block;
    transition: 0.3s;
}

.projects .portfolio-wrap .portfolio-links a:hover {
    color: #bc96e6;
}

.projects .portfolio-wrap:hover::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
}

.projects .portfolio-wrap:hover .portfolio-info {
    opacity: 1;
}

.projects .portfolio-wrap:hover .img-fluid {
    opacity: 0.5;
}

.projects .portfolio-wrap:hover .portfolio-info::before {
    top: 15px;
    left: 15px;
}

.projects .portfolio-wrap:hover .portfolio-info::after {
    bottom: 15px;
    right: 15px;
}

.projects-social {
    font-size: 30px;
    margin: 0.5%;
    transition: all 0.2s ease-in-out;
}

.projects-social:hover {
    color: #be5df7;
    transform: scale(1.05);
}

.project-blog {
    height: 250px;
    width: 250px;
    margin-top: 8%;
}

.project-blog-headings {
    font-size: 180%;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 2%;
}

.contact .info-box {
    color: #000000;
    padding: 20px;
    width: 100%;
    border-radius: 15%;
    transition: 0.5s ease-in-out;
    background-color: rgba(255, 255, 255, 0.19);
}

.contact .info-box:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.contact .info-box i.fas {
    font-size: 24px;
    color: #bc96e6;
    border-radius: 50%;
    padding: 14px;
    float: left;
    transition: 0.3s ease-in-out;
}

.contact .info-box .i fas:hover {
    transform: scale(1.4);
    border-color: #bc96e6;
    border: 5px solid #bc96e6;
    background: rgba(255, 255, 255, 0.19);
}

.contact .info-box h3 {
    font-size: 20px;
    color: #FFFFFF;
    font-family: regular, "Poppins", sans-serif;
    text-shadow: black;
    font-weight: 700;
    margin: 10px 0 8px 68px;
}

.contact .container {
    padding: 0.1px 20px 5px 20px;
}

#section-title2 {
    margin-top: 0;
}

.contact .info-box p {
    padding: 0;
    color: #fff;
    line-height: 24px;
    font-size: 14px;
    margin: 0 0 0 68px;
}

.contact .info-box .social-links {
    margin: 5px 0 0 68px;
    display: flex;
}

.contact .info-box .social-links a {
    font-size: 18px;
    display: inline-block;
    color: #fff;
    line-height: 1;
    margin-right: 12px;
    transition: 0.3s;
}

.contact .info-box .social-links a:hover {
    color: #bc96e6;
    transform: scale(1.2);
}

.contact .php-email-form {
    border-radius: 8%;
    padding: 30px;
    background: rgba(255, 255, 255, 0.10);
}

.contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
}

.contact .php-email-form .error-message {
    display: none;
    background: rgba(255, 255, 255, 0.08);
    background: #ed3c0d;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .sent-message {
    display: none;
    background: rgba(255, 255, 255, 0.08);
    background: #bc96e6;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: rgba(255, 255, 255, 0.08);
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #bc96e6;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.08);
    border: 0;
    transition: 0.3s;
    color: #fff;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
    background-color: rgba(255, 255, 255, 0.11);
}

.contact .php-email-form input::-webkit-input-placeholder,
.contact .php-email-form textarea::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.3);
    opacity: 1;
}

.contact .php-email-form input::-moz-placeholder,
.contact .php-email-form textarea::-moz-placeholder {
    color: rgba(255, 255, 255, 0.3);
    opacity: 1;
}

.contact .php-email-form input:-ms-input-placeholder,
.contact .php-email-form textarea:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.3);
    opacity: 1;
}

.contact .php-email-form input::-ms-input-placeholder,
.contact .php-email-form textarea::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.3);
    opacity: 1;
}

.contact .php-email-form input::placeholder,
.contact .php-email-form textarea::placeholder {
    color: rgba(255, 255, 255, 0.3);
    opacity: 1;
}

.contact .php-email-form input {
    padding: 20px 15px;
}

.contact .php-email-form textarea {
    padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
    background: #bc96e6;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
    background: #bc96e6;
    transform: scale(1.2);
    font-weight: 600;
}

.thanks .container {
    background: rgba(255, 255, 255, 0.17);
    border-radius: 15%;
    cursor: pointer;
}

.thanks h2 {
    margin: auto 250px;
    margin-bottom: 10px;
    font-family: regular, 'Roboto', sans-serif;
    font-weight: 700;
    width: auto;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease-in-out;
}

.thanks h2 span {
    color: #bc96e6;
}

#container2 {
    padding-top: 1px !important;
}

#section2 {
    margin-top: 1px;
}

.top {
    font-size: 50px;
    color: white;
    position: absolute;
    bottom: 10px;
    left: 20px;
}

.top:hover {
    color: #bc96e6;
}

@media (max-width:992px) {
    .thanks .container {
        border-radius: 10%;
    }
    .thanks h2 {
        margin: auto;
        margin-bottom: 20px;
        font-weight: 500;
        width: auto;
    }
}


/* light mode-----------------------------start------------------------------------------  */

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
.circle {
    margin: auto;
    position: absolute;
    top: 70px;
    right: 20px;
    width: 40px;
    height: 40px;
    z-index: 15;
    border-radius: 50%;
    border: 0.1em solid #adadad;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    background: #eeeeee;
}

.push-btn-container {
    position: absolute;
    width: 35px;
    height: 35px;
    top: .1em;
    left: .1em;
    border-radius: 50%;
    border: .1em solid #f5f5f5;
    box-shadow: inset 0 0 2px #191919;
    overflow: hidden;
    background: #dfdfdf;
}

.centering {
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.push-toggle {
    border-radius: 70%;
    background: #500075;
    height: 30px;
    width: 35px;
}

.push-toggle:before {
    box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.99);
    border-radius: 50%;
    background: rgba(248, 173, 255, 0.99);
    position: absolute;
    margin-left: -1em;
    margin-top: -1em;
    opacity: 0.2;
    content: "";
    height: 10px;
    width: 10px;
    left: 20%;
    top: 20%;
}

.push-toggle .push-button {
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    filter: blur(1px);
    transition: all 300ms cubic-bezier(0.12, 1, 0.15, 1);
    box-shadow: 0 2px 2px -2px #d781ff, inset 0 -2px 2px -1px #c851ff, 0 -2px 2px -1px #c13cff, inset 0 2px 2px -1px #ae00ff, inset 0 0 2px 1px #8a00ca, inset 0 2px 2px 0 #500075;
    border-radius: 50%;
    position: absolute;
    background: #d16dff;
    margin-left: -0.1em;
    margin-top: -0.1em;
    display: block;
    height: 40px;
    width: 40px;
    left: 100%;
    top: 100%;
}

.push-toggle .push-btn-label {
    transition: color 300ms ease-out;
    top: 0;
    left: 8px;
    text-align: center;
    position: absolute;
    font-size: 20px;
    display: block;
    height: 50%;
    width: 50%;
    color: hsl(123, 100%, 68%);
}

.push-toggle input {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    z-index: 10;
    height: 100%;
    width: 100%;
    right: .2em;
}

.push-toggle input:active~.push-button {
    box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.2), inset 0 -4px 5px 1px rgba(255, 255, 255, 0.5), 0 -5px 8px -1px rgba(255, 255, 255, 0.3), inset 0 4px 4px 0 rgba(0, 0, 0, 0.2), inset 0 0 5px 1px rgba(255, 255, 255, 0.3);
}

.push-toggle input:active~.push-btn-label {
    font-size: 30px;
    color: rgba(141, 1, 141, 0.99);
}

.push-toggle input:checked~.push-button {
    box-shadow: 0 7px 5px -2px rgba(0, 0, 0, 0.2), inset 0 -4px 5px -1px rgba(255, 255, 255, 0.4), 0 -5px 5px -1px rgba(255, 255, 255, 0.3), inset 0 4px 10px 0 rgba(0, 0, 0, 0.1), inset 0 0 3px 1px rgba(255, 255, 255, 0.3);
}

.push-toggle input:checked~.push-btn-label {
    top: 0;
    color: hsl(0, 100%, 70%);
}


/* light mode -----------------------------------  */

.light-mode {
    color: black;
    background-image: none;
}

.light-mode .projects-social {
    font-size: 30px;
    margin: 0.5%;
    transition: all 0.2s ease-in-out;
    color: black;
}

.light-mode .projects-social:hover {
    color: #be5df7;
    transform: scale(1.05);
}

.light-mode::before {
    background: #d3d3d3;
    color: black;
    background-image: url('./light_bg2.jpg');
    content: "";
    position: fixed;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
}


/* .light-mode #particles-js {
    display: none;
} */


/* .light-mode #bparticles-js{
    display:inline;
  } */

.light-mode #header .typeh2 {
    font-size: 30px;
    font-family: regular, 'Roboto', sans-serif;
    margin-top: 20px;
    padding: 10px 30px;
    color: rgb(0, 0, 0);
}

.light-mode #header h2 span,
.light-mode .header-top #greetings {
    color: #55286F;
}

.light-mode section .container {
    background: rgba(221, 221, 221, 0.95);
}

.light-mode .section-title h2 {
    color: black;
}

.light-mode .section-title h2::after {
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    background: #55286F;
    margin: 10px auto;
    margin-bottom: 30px;
}

.light-mode .section-title h2::before {
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    background: #55286F;
    margin: 10px auto;
}

.light-mode .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #55286F;
    padding-bottom: 0;
}

.light-mode .about-me .content ul li,
.light-mode .education .education-title {
    color: #000000;
}

.light-mode .education .education-item h4 {
    color: #55286F;
}

.light-mode a.button4 {
    background-color: #55286F;
}

.light-mode .education .education-item::before {
    background: #55286F;
    border: 2px solid #55286F;
}

.light-mode .education .education-item h5 {
    background: rgba(255, 255, 255, 0.587);
}

.light-mode .skills .progress .skill,
.light-mode .counts .count-box span {
    color: #000000;
}

.light-mode .skills .progress-bar {
    background-color: #55286F;
}

.light-mode .progress-bar-wrap {
    background-color: rgba(255, 255, 255, 0.5);
}

.light-mode .counts .count-box {
    border: 1px solid #55286F;
    background: rgb(255, 255, 255, 0.5);
}

.light-mode .counts .count-box i {
    background: rgb(255, 255, 255, 0.5);
    color: #55286F;
    border: 0.5px solid #55286F;
}

.light-mode .section-title p {
    color: rgba(0, 0, 0, 0.7);
}

.light-mode .experience .experience-title {
    color: rgb(0, 0, 0);
}

.light-mode .experience .experience-item h4 {
    color: #55286F;
}

.light-mode .experience .experience-item::before {
    background: #55286F;
    border: 2px solid #55286F;
}

.light-mode .experience-item p {
    color: black;
}

.light-mode .projects #portfolio-filters li.filter-active {
    background: #55286F;
    color: white;
}

.light-mode .projects #portfolio-filters li {
    color: rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.5);
}

.light-mode .projects .portfolio-wrap {
    background: rgba(204, 204, 204, 0);
}

.light-mode .contact .info-box h3 {
    color: #000000;
    text-shadow: black;
}

.light-mode .contact .info-box i.fas,
.light-mode #credit {
    color: #55286F;
}

.light-mode .contact .info-box p {
    color: rgb(0, 0, 0);
}

.light-mode .contact .php-email-form button[type="submit"] {
    background: #55286F;
    color: rgb(223, 223, 223);
}

.light-mode .contact .info-box {
    background: rgba(240, 240, 240, 0.8);
}

.light-mode .contact .info-box .social-links i {
    color: black;
}

.light-mode .contact .php-email-form {
    background: rgba(192, 192, 192, 0.8);
}

.light-mode .contact .php-email-form input,
.light-mode .contact .php-email-form textarea {
    background: rgba(240, 240, 240, 0.8);
    color: #000000;
}

.light-mode .contact .php-email-form input::placeholder,
.light-mode .contact .php-email-form textarea::placeholder {
    color: black;
}

.light-mode li.nav-item a.nav-link::after {
    height: 4px;
    background-color: #bc96e6;
}

.light-mode .project-blog-headings {
    color: black;
}

.light-mode .project-blog-headings:hover {
    color: #55286F;
}

.light-mode .top {
    font-size: 50px;
    color: black;
    position: absolute;
    bottom: 10px;
    left: 20px;
}

.light-mode .top:hover {
    font-size: 50px;
    color: #55286F;
    position: absolute;
    bottom: 10px;
    left: 20px;
}

@media (max-width: 768px) {
    .project-blog {
        height: 230px;
        width: 230px;
    }
}

@media (max-width: 568px) {
    .awscloud {
        font-size: 13px;
        background-color: rgb(200, 145, 252);
        margin-top: 15%;
    }
    .light-mode::before {
        background: #ffffff;
        color: black;
        background-image: url('../css/light_bg.jpg');
        content: "";
        position: fixed;
        background-size: contain;
        left: 0;
        right: 0;
        top: 0;
        height: 100vh;
    }
    #header.header-top h1 {
        margin-right: auto;
        font-size: 35px;
        margin-top: 10px;
    }
    #header h2 {
        padding: -20px;
        margin-top: 70px;
        line-height: auto;
        font-size: 30px;
    }
    #header .typeh2 {
        font-size: 28px;
        font-family: regular, 'Roboto', sans-serif;
        margin-top: 20px;
        padding: 10px 30px;
        color: #fff;
    }
    .header_social {
        position: absolute;
        bottom: 20px;
        left: 10px;
    }
    .top {
        font-size: 40px;
        bottom: 10px;
        left: 20px;
    }
    .up {
        border-bottom: 0.2em solid #be5df7;
    }
}